<div class="login-success">
  <p>Logado com sucesso!</p>
</div>

<div class="dashboard">
<div class="box pending">
    <h2>Pendentes</h2>
    <p>10</p>
  </div>
<div class="box doing">
    <h2>Fazendo</h2>
    <p>1</p>
  </div>
  <div class="box done">
    <h2>Feitos</h2>
    <p>15</p>
  </div>
</div>
